<div class="contenedor">
  <h1>{{pokemon?.name}}</h1>
  <img style="width: 60%" src="{{pokemonDetalles?.sprites.front_default}}">
  <div>
    <p><span><u>Estadisticas Base:</u></span></p>
    <p><span>HP:</span> {{pokemonDetalles?.stats[0].base_stat + " - Puntos Base."}}</p>
    <p><span>Ataque: </span> {{pokemonDetalles?.stats[1].base_stat + " - Puntos Base."}}</p>
    <p><span>Defensa: </span>  {{pokemonDetalles?.stats[2].base_stat + " - Puntos Base."}}</p>
    <p><span>Ataque Especial: </span>  {{pokemonDetalles?.stats[3].base_stat + " - Puntos Base."}}</p>
    <p><span>Defensa Especial: </span>  {{pokemonDetalles?.stats[4].base_stat + " - Puntos Base."}}</p>
    <p><span>Velocidad: </span>  {{pokemonDetalles?.stats[5].base_stat + " - Puntos Base."}}</p>
  </div>
</div>
