div {

  h1 {
    font-size:medium;
    color:green;
    }

  span {
    font-size: large;
    }
}

#contenedor1 {
  p {
    color: red;

    span {
        font-weight: bold;
    }
  }
  }

#contenedor2 {
  p {
    color: blue;

    span {
        font-weight: bold;
      }

    }
  }

