<h1>Solo un H1.</h1>

<h2>Primer H2.</h2>
<h2>Segundo H2.</h2>
<h2>Tercer H2.</h2>

<h3>Primer H3.</h3>
<h3>Segundo H3.</h3>
<h3 class="{{ (cambioColor == true) ? 'blue' : 'red' }}">Tercer H3.</h3>

<button type="button" (click)="toggleColor()">Cambiar color</button>

<button type="button" (click)="toggleOcultar()">Ocultar header</button>

<div>
  Esto es un contenedor
</div>
<br>
<header class="{{ (Ocultar == true) ? 'ocultar' : '' }}">
  Aquí el logo
  <br>
  Menu (Tendremos el bocadillo - lista - del menu)
</header>

<br>

<div *ngIf="elementos.length > 0">
  <p *ngFor="let elemento of elementos">
    {{elemento}}
  </p>
</div>

<div *ngIf="elementos2.length > 0">
  <p *ngFor="let elemento of elementos2; let i = index">
    <span>{{elemento.id}}</span>
    <span>{{elemento.nombre}}</span>
  </p>
</div>

<footer>
  Aquí el contenido legal, información de la app que no es relevante.
  <br>
  Elemento: Copyright y quien escribio la App o la versión de la App.
</footer>

<br>

<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed vel libero sed eros tempor faucibus.
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed vel libero sed eros tempor faucibus.
</p>

<br>

<p>
  <span style="font-weight: bold">Lorem ipsum</span> dolor <i>sit amet</i>, consectetur <u>adip iscing elit</u>. <b>Nulla facilisi.</b>
  Sed vel libero sed eros <strong>tempor faucibus.</strong> vel felis vel <sup>felis fel libero</sup>. <sub>Curabitur vitae</sub>.
</p>

<br>

<main>
  <section> Imágen principal. </section>
  <section> Carrusel de imágenes. </section>
  <section> Formulario de contacto. </section>
  <section> Formulario de login. </section>
</main>

<form method="post" action="" enctype="multipart/form-data">
  <div>
    <label for="username">Usuario</label>
    <input type="text" id="username" name="usuario" placeholder="Introduzca el usuario" value="" autocomplete="on" required>
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input type="password" id="password" name="contraseña" placeholder="********" value="" autocomplete="on" required>
  </div>
  <div>
    <label for="rol">Usuario</label>
    <select id="rol" name="rol" required>
      <option value="estudiante" selected>Estudiante</option>
      <option value="profesor">Profesor</option>
    </select>
  </div>

  <div>
    Selecciona el curso:
    <input type="radio" id="primerCurso" name="cursos"> <label for="primerCurso">Primer Curso.</label>
    <input type="radio" id="segundoCurso" name="cursos" checked> <label for="segundoCurso">Segundo Curso.</label>
  </div>

  <div>
    Asignaturas:
    <input type="checkbox" name="sunjects" id="datos" checked required> <label for="datos">Acceso a datos.</label>
    <input type="checkbox" name="sunjects" id="interfaces"> <label for="interfaces">Desarrollo de interfaces.</label>
  </div>

  <div>
    <label for="mensaje">Mensaje: </label>
    <textarea placeholder="Mensaje" id="mensaje" required></textarea>
  </div>

  <div>
    <button type="submit">Enviar</button>
  </div>
</form>

<hr>

<ul>
  <li>Primer Elemnto</li>
  <li>Segundo Elemento</li>
  <li>Tercer Elemento</li>
</ul>

<ol class="margin-bottom">
  <li>Primer Elemento</li>
  <li>Segundo Elemento</li>
  <li>Tercer Elemento</li>
</ol>

<div class="contenedor-100">
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed vel libero sed eros tempor faucibus.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla facilisi. Sed vel libero sed eros tempor faucibus.
    </p>
  </div>
</div>

<div class="social">

</div>

<div class="elementos-display">
  <p>lorem ipsum</p>
  <p>lorem ipsum</p>
  <p>lorem ipsum</p>
</div>

<div class="elementos-flex">
  <p class="primero-p">
    primer p
  </p>
  <p class="segundo-p">
    segundo p
  </p>
</div>
